<!doctype html>

<html lang="en" ng-app="photobooth">
<head>
	<meta charset="utf-8">

	<title>Things of the Internet</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.0/angular.js"></script>

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->

    <script>

    	var app = angular.module('photobooth', []);
    	app.controller('mainCtrl', function($scope, $http){

    		$scope.loading = false;
    		$scope.picture = "picam.jpeg";

    		$scope.data = [
    		{"class":"mustachio","score":0.667},{"class":"animal","score":0.653},{"class":"ferret","score":0.652,"type_hierarchy":"/animal/mammal/carnivore/ferret"},{"class":"carnivore","score":0.652},{"class":"mammal","score":0.652},{"class":"person","score":0.561},{"class":"plunger","score":0.557,"type_hierarchy":"/tool/plunger"},{"class":"tool","score":0.557},{"class":"beard","score":0.554,"type_hierarchy":"/person/beard"}
    		]

    		$scope.refresh = function() {
    			$http.get("/classes")
    			.then(function(result) {
    				$scope.data = result.data;
    				$scope.picture = "picam.jpeg?random=" + Date.now();
    				console.log("GET Success", result, $scope.data);
				$scope.loading = false;
    			}, function(result) {
    				$scope.data = [{"class":"mustachio","score":0.667},{"class":"animal","score":0.653},{"class":"ferret","score":0.652,"type_hierarchy":"/animal/mammal/carnivore/ferret"},{"class":"carnivore","score":0.652},{"class":"mammal","score":0.652},{"class":"person","score":0.561},{"class":"plunger","score":0.557,"type_hierarchy":"/tool/plunger"},{"class":"tool","score":0.557},{"class":"beard","score":0.554,"type_hierarchy":"/person/beard"}];
    				console.log("GET Failed", $scope.data);
				$scope.loading = false;
    			});
    		}
    		$scope.refresh();

    		$scope.takePicture = function() {
    			$scope.loading = true;
    			console.log("Get /takepicture", "Request sent");
    			$http.get("/takepicture")
    			.then(function(result) {
    				console.log("GET /takepicture Success", result);
    				$scope.refresh();
    				$scope.error = false;
    			}, function(result) {
    				console.log("GET /takepicture Failed", result);
    				$scope.loading = false;
    				$scope.error = true;
    			});				

    		}

    	});

    </script>
<style>
.loading {
	position: fixed;
	height: 100vh;
	width: 100vw;
	background-color: rgba(50,50,50,0.75);
	top: 0px;
	left: 0px;
}

.loading h1 {
	position: fixed;
	top: 40%;
	left: 0%;
	width: 100%;
	text-align: center;
	color: #fff;
}

</style>
  </head>

  <body ng-controller="mainCtrl" style="padding-top: 8px; overflow: hidden;" class="container-fluid">
 
  	<div class="col-xs-12">
  		<div class="col-xs-7">
  			<div class="panel panel-default">
  				<div class="panel-body text-center">
						<img ng-src="{{picture}}" class="img-responsive img-rounded" style="height: 75vh; padding: 20px; margin: auto;" ng-click="takePicture()">
  				</div>
  			</div>
  		</div>
  		<div class="col-xs-5">
  			<div class="panel panel-default">
  				<div class="panel-body">
  					<dl class="dl-horizontal">
  						<dt ng-repeat-start="result in data |limitTo:8| orderBy:'-score'" style="text-transform: capitalize;">{{result.class}}:</dt>
  						<dd ng-repeat-end style="text-align: left;">{{(result.score*100).toFixed(1)}}%</dd>
  					</dl>
  				</div>
  			</div>
<div class="row" style="margin-bottom: 8px;">
                                <div class="col-md-5 text-center">
                                        <button class="btn btn-primary" ng-click="takePicture()">Take picture!</button>
                                </div>
                        </div>
  		</div>
  	</div>
  	<div class="row text-center">
  		<small class="text-muted">Hacked by Interactive in Paris 2016</small>
  	</div>
        <div class="loading text-center" ng-if="loading">
                <h1>Contacting Watson...</h1>
        </div>
  </body>
</html>
